name: Release

on:
  push:
    tags:
      - "v*.*.*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  release:
    name: Build and Release
    uses: ./.github/workflows/build-release-reusable.yml
    with:
      python-version: "3.11"
      extras: "--extra build"
    secrets: inherit